.form-style-teams-tasks {
	font-family: 'Open Sans Condensed', arial, sans;
	width: 700px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);

}

.form-style-teams-tasks h2 {
	/* background: #2c3e50; */
	background-image: linear-gradient(to right bottom, rgba(11, 10, 10, 0.65), rgba(5, 43, 47, 0.7)), url(/static/img/background2.jpg);
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fcf8f8;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	border-radius: 10px;
}

.form-style-teams-tasks input[type="text"],
.form-style-teams-tasks input[type="email"],
.form-style-teams-tasks input[type="password"] {
	box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	padding-left: 50px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	margin-top: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}

.icon {
	position: absolute;
	padding: 10px;
	color: green;
	min-width: 50px;
	text-align: center;
}

.error {
	color: red;
}

.btn_create_team {
	position: relative;
	transition: all ease-in-out .15s;
	background: none;
	font-weight: bold;
	border-radius: 100px;
	border: none;
	font-size: 14pt;
	color: rgb(110, 147, 251);
	font-family: "Times New Roman", Times, serif;
	float: right;
	vertical-align: middle;
}

.btn_create_team:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
	background: none;
	cursor: pointer;
	color: white;
}

.btn_create_team:focus {
	outline: none;
}

.div_new_mem {
	width: 100%;
	display: inline-block;
}

.div_new_mem input[type="text"] {
	width: 70%;
	float: left;
	margin-top: 0;
}

.div_new_mem span {
	width: 15%;
	float: right;
	font-size: 12pt;
}

.textarea_mem {
	width: 100%;
	height: 130px;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	font: 16px Arial, Helvetica, sans-serif;
	border: none;
	background: transparent;
	overflow: auto;
	font-weight: bold;
	color: black;
	line-height: 200%;
	resize: none;
}

/* list teams */
.list-teams {
	width: 410px;
	margin: 0 auto;
}

.list-teams ol {
	list-style-type: none;
	/* list-style-type: decimal !ie; IE 7- hack */
	margin: 0;
	margin-left: 1em;
	padding: 0;
	counter-reset: li-counter;
}

.list-teams ol li {
	position: relative;
	margin-bottom: 1.5em;
	/* background-color: #F0D756; */
	background-image: linear-gradient(to right, rgba(9, 56, 57, 0), rgb(6, 39, 53));
	padding: 14px;
	padding-left: 58px;
	height: 50px;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color: black;
}

.list-teams a {
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}

.list-teams li:hover {
	box-shadow: inset -1em 0 #6CD6CC;
	-webkit-transition: box-shadow 0.5s;
	/* For Safari 3.1 to 6.0 */
	transition: box-shadow 0.5s;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	cursor: pointer;
	color: rgb(252, 249, 249);
}

.list-teams ol li:before {
	position: absolute;
	top: -0.3em;
	left: -0.5em;
	width: 1.8em;
	height: 1.2em;
	font-size: 2em;
	line-height: 1.2;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: #6CD6CC;
	transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	z-index: 99;
	overflow: hidden;
	content: counter(li-counter);
	counter-increment: li-counter;
}

.removeteam {
	right: 20px;
	position: absolute;
	color: red;
	font-size: 11pt;
	background: none;
	border: none;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;

}

.removeteam:hover {
	color: blue;
	cursor: pointer;
}

/* /list teams */


/* select team  */
.divselect {
	text-align: left;
	margin-top: 40px;
	margin-left: 10px;
	font-weight: bold;
}

/* Reset Select */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	/* background: #2c3e50; */
	background-image: linear-gradient(to right bottom, rgba(11, 10, 10, 0.65), rgba(5, 43, 47, 0.7)), url(/static/img/background2.jpg);

}

/* Remove IE arrow */
select::-ms-expand {
	display: none;
}

/* Custom Select */
.select {
	position: relative;
	display: inline-flex;
	width: 20em;
	height: 3em;
	line-height: 3;
	background: #2c3e50;
	overflow: hidden;
	border-radius: .25em;
	left: 35px;
	border-radius: 7px;
	width: 250px;
}

select {
	flex: 1;
	padding: 0 .5em;
	color: #fff;
	cursor: pointer;
}

.select-selected {
	background-color: rgb(143, 23, 107);
}


/* Arrow */
.select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: #011d35;
	;
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}

/* Transition */
.select:hover::after {
	color: #f39c12;
}

/* /select team */


/* on off */
.onoff {
	margin-left: -27px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	position: relative;
	cursor: pointer;
	width: 55px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.onoff label {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: #cd3c3c;
	border-radius: 5px;
	font-weight: bold;
	color: #FFF;
	-webkit-transition: background 0.3s, text-indent 0.3s;
	-moz-transition: background 0.3s, text-indent 0.3s;
	-o-transition: background 0.3s, text-indent 0.3s;
	transition: background 0.3s, text-indent 0.3s;
	text-indent: 27px;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}

.onoff label:after {
	content: 'NO';
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	font-size: 12px;
	color: #591717;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
	z-index: 1;
}

.onoff label:before {
	content: '';
	width: 15px;
	height: 24px;
	border-radius: 3px;
	background: #FFF;
	position: absolute;
	z-index: 2;
	top: 3px;
	left: 3px;
	display: block;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	-o-transition: left 0.3s;
	transition: left 0.3s;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.onoff input:checked+label {
	background: #378b2c;
	text-indent: 8px;
}

.onoff input:checked+label:after {
	content: 'YES';
	color: #091707;
}

.onoff input:checked+label:before {
	left: 37px;
}

[type="date"] {
	background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
	margin-left: 14px;
	border-radius: 7px;
	border-style: revert;
	padding: 5px;
	font-style: oblique;
	/* background-color: #2c3e50; */
	background-image: linear-gradient(to right bottom, rgba(11, 10, 10, 0.65), rgba(5, 43, 47, 0.7)), url(/static/img/background2.jpg);
	color: white;
	width: 220px;
	height: 100%;
}

/* /on off */

/* date publish */
[type="date"]::-webkit-inner-spin-button {
	display: none;
}


[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.divdate {
	text-align: left;
	margin-left: 10px;
	margin-top: 40px;
	font-weight: bold;
	height: 40px;
}

.divdeadline {
	text-align: left;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 10px;
	height: 40px;
}

.divdeadline input[type="number"] {
	margin-left: 18px;
	padding: 5px;
	/* background-color: #2c3e50; */
	background-image: linear-gradient(to right bottom, rgba(11, 10, 10, 0.65), rgba(5, 43, 47, 0.7)), url(/static/img/background2.jpg);
	border-radius: 7px;
	color: white;
	width: 220px;
	height: 100%;
}

/* /date publish */