<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About US</title>


</head>

<body>

  <div style="text-align: center;">

    <h1>UR-Opinion</h1>

    <table class="table_about">

      <tr>

        <td>
         <h3>Communication</h3> 
          <br />
          Our application allows information to be shared among team members, creating optimal and effective
          communication for project development.
        </td>

        <td>
          <h3>Shared tasks</h3>
          <br />
          It allows the sharing of tasks to the entire development team.
        </td>

        <td>
          <h3>Web Application</h3>
          <br />
          Being a web application, we can interact from any mobile device or computer at any time of the day.

        </td>
      </tr>
    </table>



  </div>
  <!-- Main Container Ends -->
</body>

</html>