<html>

<head>
  <title>Cards</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Add  js and css -->


</head>

<body>
  <!-- all board -->
  <div class="artboard">

    <!-- main scroller -->
    <div style="width: 100%; overflow-x: auto;  overflow-y: hidden;  white-space: nowrap;">


      <!-- one card -->
      <div class="card">

        <div class="card__side card__side--back">
          <div class="card__cover">
            <h4 class="card__heading">
              <span class="card__heading-span">Task Name</span>
            </h4>
          </div>

          <!-- opinions -->
          <div class="card__details">

            <ul class="ul_details">
              <li style=" text-align: left; font-size: 10pt;">
                <span>Full name:</span>
                <span>Opinion 1asdf adsfasdf ad</span>
              </li>

              <li style=" text-align: left; font-size: 10pt;">
                <span>Full name:</span>
                <span>Opinion 1asdf adsfasdf ad</span>
              </li>

              <li style=" text-align: left; font-size: 10pt;">
                <span>Full name:</span>
                <span>Opinion 1asdf adsfasdf ad</span>
              </li>

              <li style=" text-align: left; font-size: 10pt;">
                <span>Full name:</span>
                <span>Opinion 1asdf adsfasdf ad</span>
              </li>
              <li style=" text-align: left; font-size: 10pt;">
                <span>Full name:</span>
                <span>Opinion 1asdf adsfasdf ad</span>
              </li>

            </ul>
          </div>

          <!-- Tail -->
          <div class="divtail">
            <span>Current Editor: </span>
            <span>Ghadeer Darwesh</span>
          </div>
          <!-- Tail -->

        </div>
        <!-- /opinions -->

        <!-- the cover -->
        <div class="card__side card__side--front">
          <div class="card__theme">
            <div class="card__theme-box">

              <p class="card__title">Task Name</p>
              <br />
              <br />
              <p class="card__subject">Team Name</p>
              <br />
              <br />
              <p class="card__subject">Description</p>
            </div>
          </div>
        </div>
        <!-- /the cover -->

      </div>
      <!-- /one card -->


    </div>
    <!-- /main scroller -->



  </div>
  <!-- /all board -->

</body>

</html>