<html>

<head>
  <title>Cards</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Add  js and css -->


</head>

<body>
  <!-- all board -->
  <div class="artboard">

    <!-- main scroller -->
    <div style="width: 100%; overflow-x: auto;  overflow-y: hidden;  white-space: nowrap;">


      <!-- one card -->

      {% for task in taskslist %}
      <div class="card">

        <div class="card__side card__side--back">
          <div class="card__cover">
            <h4 class="card__heading">
              <span class="card__heading-span">{{task['taskname']}}</span>
            </h4>
          </div>

          <!-- opinions -->
          <div class="card__details">

            <!-- <ul class="ul_details">
              <li style=" text-align: left; font-size: 10pt;">
                <span>Full name:</span>
                <span>Opinion 1asdf adsfasdf ad</span>
              </li>            
            </ul> -->

            <table class="table_details">
              <tr>
                <th>Team Name: </th>
                <th><span class="card__subject">Team Name</span></th>
                
              </tr>
              <tr>
                <td>Published Date: </td>
                <td><span class="card__subject">{{task['datepub']}}</span></td>
              </tr>
              <tr>
                <td> Current Editor: </td>
                <td><span class="card__subject">{{task['currenteditor']}}</span></td>
              </tr>
              <tr>
                <td> DeadLine: </td>
                <td><span class="card__subject">DeadLine</span></td>
              </tr>
            </table>

          </div>

          <!-- Tail -->
          <div class="divtail" onclick="show_ideas(this)" id="{{task['taskid']}}">
            Show Ideas
          </div>
          <!-- Tail -->

        </div>
        <!-- /opinions -->

        <!-- the cover -->
        <div class="card__side card__side--front">
          <div class="card__theme">
            <div class="card__theme-box">

              <p class="card__title">{{task['taskname']}}</p>

              <p class="">{{task['desc']}}</p>

            </div>
          </div>
        </div>
        <!-- /the cover -->

      </div>
      <!-- /one card -->
      {% endfor %}

    </div>
    <!-- /main scroller -->

  </div>
  <!-- /all board -->



  <!-- div to show ideas -->
  <div id="preview_ideas" class="prev_block">
    <span class="helper"></span>

    <!-- content to show -->
    <div id="div_content" class="div_content form-style-teams-tasks">

      <h2 style="color: white; font-weight: bold; margin: 0;">Task Name</h2>

      <!-- Ideas -->
      <div id="listideas" style="height: 65%;  overflow: auto;">

        <table class="table_ideas">
          <tr>
            <th class="th_fullname">Full Name: </th>
            <th class="th_idea"><span class="card__subject">His idea</span></th>
          </tr>
          <tr>
            <th class="th_fullname">Full Name: </th>
            <th class="th_idea"><span class="card__subject">His idea</span></th>
          </tr>
          <tr>
            <th class="th_fullname">Full Name: </th>
            <th class="th_idea"><span class="card__subject">His idea</span></th>
          </tr>
          <tr>
            <th class="th_fullname">Full Name: </th>
            <th class="th_idea"><span class="card__subject">His idea</span></th>
          </tr>
          <tr>
            <th class="th_fullname">Full Name: </th>
            <th class="th_idea"><span class="card__subject">His idea</span></th>
          </tr>
          <tr>
            <th class="th_fullname">Full Name: </th>
            <th class="th_idea"><span class="card__subject">His idea</span></th>
          </tr>
          <tr>
            <th class="th_fullname">Full Name: </th>
            <th class="th_idea"><span class="card__subject">His idea</span></th>
          </tr>
        </table>

      </div>
      <!-- /Ideas -->

      <!-- Enter my idea -->
      <form id="newidea" style=" width: 100%;"  method="POST" action="{{ url_for('addidea')}}">
        <input type="text" id="memidea" name="memidea" placeholder="Enter Your Idea Here" autocomplete="off" />


           <!-- #hidden text to sttore taskid -->
      <input type="text" id="taskid" name="taskid" value="" style="display: none;" />


      <input class="nav-link btninput" type="submit" id="memidea" value="SAVE" onclick="return Validate_new_idea();" />

      <div class="nav-link btndiv " onclick="hide_ideas()">CLOSE</div>

      </form>
      <!-- Enter my idea -->

   





    </div>
    <!-- /content to show -->

  </div>

  <!-- /div to show ideas -->


</body>

</html>