<html>

<head>
  <title>Cards</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Add  js and css -->


</head>

<body>
  <!-- all board -->
  <div class="artboard">

    <!-- main scroller -->
    <div style="width: 100%; overflow-x: scroll;  overflow-y: hidden;  white-space: nowrap;">

  
    <!-- one card -->
    <div class="card">

      <div class="card__side card__side--back">
        <div class="card__cover">
          <h4 class="card__heading">
            <span class="card__heading-span">Task Name</span>
          </h4>
        </div>

        <!-- opinions -->
        <div class="card__details">

          <ul>
            <li>Opinion 1</li>
            <li>Opinion 2</li>

          </ul>
        </div>
      </div>
      <!-- /opinions -->

      <!-- the cover -->
      <div class="card__side card__side--front">
        <div class="card__theme">
          <div class="card__theme-box">

            <p class="card__title">Task Name</p>
            <br />
            <br />
            <p class="card__subject">Team Name</p>
            <br />
            <br />
            <p class="card__subject">Description</p>
          </div>
        </div>
      </div>
      <!-- /the cover -->

    </div>
    <!-- /one card -->
    

</div>
    <!-- /main scroller -->



  </div>
  <!-- /all board -->

</body>

</html>