<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ur-Opinion</title>

  <link rel="stylesheet" media="all" href="/static/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/style_login.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style_teams_tasks.css">



  <script type="text/javascript" src="/static/js/reg.js"></script>
  <script type="text/javascript" src="/static/js/script.js"></script>
  <script src="/static/js/jquery-3.5.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#btn_in_progress").click(function () {
        $("#content").load("in_progress_page");
      });


      $("#btn_created_by_me").click(function () {
        $("#content").load("created_by_me_page");
      });

      $("#btn_shared_with_me").click(function () {
        $("#content").load("shared_with_me_page");
      });

      $("#btn_archived").click(function () {
        $("#content").load("archived_page");
      });

      $("#btn_new_task").click(function () {
        $("#preview").load("/newtask");
      });

      $("#my_teams").click(function () {
        $("#content").load("/teams");
      });
    });
  </script>



</head>

<body>

  <!-- Main navbar -->
  <div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static">

    <!-- Header with logo -->
    <a class="navbar-brand" href="{{ url_for('index')}}">
      <img src="/static/img/logo.png" class="logo" />
      <span>
        Ur-Opinion
      </span>
    </a>
    <!-- /header with logo -->


    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbar-mobile">


      <ul class="navbar-nav ml-auto">

        <!--  account symbole -->
        <div class="dropdown">

          <button onclick="myFunction()" class="dropbtn">Ghadeer Darwesh </button>
          <img src="/static/img/login.png" class="loginlogo" onclick="myFunction()" />
          <div id="myDropdown" class="dropdown-content">
            <a id="my_teams">My Teams</a>
            <a href="#settings">Settings</a>
            <a href="#about">About</a>
            <a href="/logout">Logout</a>
          </div>
        </div>


        </li>
      </ul>
    </div>
    <!-- /navbar content -->
  </div>
  <!-- /main navbar -->

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <!-- dashboad  -->
      <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
          <div class="page-title d-flex">
            <h4> <span class="font-weight-semibold">Tasks Dashboard</span> </h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
          </div>



          <!-- tasks in dashboard -->
          <div class="card-body p-0">



            <button class="nav-link " id="btn_in_progress" data-remote="true">
              In Progress
            </button>

            <button class="nav-link " id="btn_created_by_me" data-remote="true">
              Created By Me
            </button>


            <button class="nav-link " id="btn_shared_with_me" data-remote="true">
              Shared With Me
            </button>


            <button class="nav-link " id="btn_archived" data-remote="true">
              Archived
            </button>

          </div>


          <!-- new task button -->
          <div class="header-elements d-none">
            <button class="nav-link " id="btn_new_task" onclick="show_new_task()">
              New Task
            </button> </div>
        </div>
      </div>

      <!-- Content area -->
      <div class="content">
        <!-- Inner container -->
        <div class="d-md-flex align-items-md-start">




          <!-- Right content -->
          <div class="w-100">

            <!-- Basic card -->
            <div class="card border-left-1 border-left-blue-400 rounded-left-0">


              <div class="card-body" id="content">
                put tasks here



              </div>

            </div>
            <!-- /basic card -->
          </div>
          <!-- /right content -->
        </div>
        <!-- /inner container -->
      </div>
      <!-- /content area -->

      <!-- Footer -->
      <div class="navbar navbar-expand-lg navbar-light">


        <div class="navbar-collapse collapse" id="navbar-footer">
          <span class="navbar-text">
            ITMO WAD 2020
          </span>

        </div>
      </div>

      <!-- /footer -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->


  <!-- div for new task button-->
  <div id="preview" class="prev_block">

  </div>
  <!-- /div for new task button-->


</body>

</html>