<html>

<head>
  <title>New Task</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/style_teams_tasks.css"> -->
  <!-- <script type="text/javascript" src="/static/js/script.js"></script> -->
  <!-- <script>
     $(document).ready(function () {
         $("#showteams").click(function () {
        $("#content").load("/teams");
      });
    });
  </script> -->

</head>

<body>

  <span class="helper"></span>

  <!-- basic content -->
  <div id="div_content" class="div_content form-style-teams-tasks">

    <h2 style="color: white; font-weight: bold; margin: 0;">Create New Task</h2>

    <form method="POST" action="{{ url_for('addtask')}}">

      <input type="text" id="taskname" name="taskname" placeholder="Add Task Name" autocomplete="off" />

      <input type="text" id="taskdesc" name="taskdesc" placeholder="Add task description" autocomplete="off" />

      <!-- teams list -->
      <div class="divselect">
        SELECT TEAM:
        <div class="select">
          <select name="slc_teams" id="slc_teams">
            {% for team in teamslist %}
            <option value="{{team}}" SELECTED>{{team}}</option>"
            {% endfor %}
          </select>
        </div>
        <a id="showteams" onclick="show_teams()" style="float: right;  margin: 10px; text-decoration: underline;">Edit My Teams</a>
      </div>

      <!-- /teams list -->

      <!-- start the task or save for later
      <p class="onoff">
        <input type="checkbox" value="1" id="checkboxID">
        <label for="checkboxID"></label>
      </p> -->

      <!-- date publish -->
      <div class="divdate">
        DATE TO PUBLISH:
        <input type="date" name="datepublish" id="datepublish">
      </div>
      <!-- /date publish -->

      <!-- deadline for each member-->
      <div class="divdeadline">
        INDIVIDUAL TIME:
        <input type="number" id="eachperiod" name="eachperiod" value="1"> 
        Days
      </div>
      <!-- /deadline for each member--->

      <input class="nav-link btninput" type="submit" id="submit" value="SAVE" onclick="return Validate_new_task(); "  />

      <div class="nav-link btndiv " onclick="hide_new_task()">CLOSE</div>

      </form>

  </div>
<!-- /  basic content -->

</body>